.add_question_form {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 25px auto;
  gap: 15px;
  padding: 50px;
  border: 1px solid #ced4da;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.add_question_form input {
  padding: 0;
  margin: 0;
}

.add_question_form label {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  .add_question_form {
    width: 600px;
  }
}