.button {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ced4da;
  text-align: center;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: all .2s ease;
  color: #ced4da;
  font-size: 1.5rem;
  letter-spacing: 1px;
  outline: none;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.button:hover {
  box-shadow: 2px 8px 4px -6px rgba(255, 255, 255, 0.3);
  background-color: #ced4da;
  color: black;
  border: solid 2px #ced4da;
}

.new_user_button {
  font-size: 1.2rem;
}

.selected {
  box-shadow: 2px 8px 4px -6px rgba(255, 255, 255, 0.5);
  border: solid 2px #ced4da;
  background-color: #ced4da;
  color: black;
}

.survey,
.certificate,
.test,
.forum {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
}


.progress,
.duration,
.navegation,
.test {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.progress span:nth-child(1) {
  font-size: 2rem;
}

.progress span:nth-child(2) {
  font-size: 1rem;
}

.duration span:nth-child(1) {
  font-size: 1.5rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.duration span:nth-child(2) {
  font-size: 1rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.navegation span:nth-child(1) {
  font-size: 1.5rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.navegation span:nth-child(2) {
  font-size: 1rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.test span:nth-child(1) {
  font-size: 1rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.test span:nth-child(2) {
  font-size: 1rem;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;

}