.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  margin: 0;
}

.input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: #ced4da;
  font-size: 1.2rem;
}